<nav class="navbar" >
    <div class="logo">
        <h4> Placement Cell App </h4>
    </div>
    <ul>
        <li><a href="/">Students</a></li>

        <li><a href="/company">Companies</a></li>

        <li><a href="/jobList">Jobs</a></li>
        <!-- <li>Log Out</li> -->
    </ul>
</nav>