<nav class="navbar" >
    <div class="logo">
        <h4> Placement Cell App </h4>
    </div>
    <div>
        <h4>Welcome: <%= user.name %></h4>
    </div>
    <ul>
        <li><a href="/">Students</a></li>

        <li><a href="/company">Companies</a></li>

        <li><a href="/downloadReport">Download Report</a></li>

        <li><a href="/users/signOut">Sign Out</a></li>
    </ul>
</nav>