<nav class="navbar" >
    <div class="logo">
        <h4 style="padding: 2px;">Placement Cell App</h4>
        <p style="padding: 2px;">User : <%= user.name %></p>
    </div>
    <!-- <div>
        
    </div> -->
    <ul>
        <li><a href="/">Students</a></li>

        <li><a href="/company">Companies</a></li>

        <li><a href="/downloadReport">Download Report</a></li>

        <li id="logOut-btn"><a href="/users/signOut" style="text-decoration: none;">Sign Out</a></li>
    </ul>
</nav>