<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placement Cell | Sign Up</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="container">
        <div class="formWrap">
            <h1 style="text-align: center; margin:10px 0 10px 0;">Sign Up </h1>
            <form action="/users/create" method="post">
                <input type="text" name="name" placeholder="Enter Name">
                <input type="email" name="email" placeholder="Enter Email">
                <input type="password" name="password" placeholder="Enter Password">
                <input type="password" name="confirm_password" placeholder="Confirm Password">

                <button type="submit" style="padding: 5px; font-size: large;">Sign Up</button>
            </form>
            <p style="margin-top: 10px;">Don't have an account? <a href="">Sign up</a></p>
        </div>
    </div>
    
</body>
</html>