*{
    margin: 0;
    padding: 0;
    
}
body{
    transition: all 0.5s;
}
input{
    padding: 5px;
    font-size: larger;
}
.navbar{
    /* transition: none !important; */
    padding:0px 10px 0px 10px;
    height:5rem;
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: larger;
}

.navbar ul{
    display:flex;
    gap:20px;
    list-style: none;
}

.navbar ul a{
    text-decoration: none;
    color:inherit;
}
.navbar ul a:hover{
    text-decoration: underline;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .formWrap form{
    width:15rem;
    display: flex;
    flex-direction: column;
    gap:15px;
}
