:root{
    --dark-bg: #008cba;
}
*{
    margin: 0;
    padding: 0;
    
}
body{
    transition: all 0.5s;
}

.navbar{
    /* transition: none !important; */
    padding:0px 10px 0px 10px;
    height:5rem;
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:white;
    font-size: larger;
}

.navbar ul{
    display:flex;
    align-items: center;
    gap:20px;
    list-style: none;
}

.navbar ul a{
    text-decoration: none;
    color:inherit;
}
.navbar ul a:hover{
    text-decoration: underline;
}


.thead-dark{
    background-color: var(--dark-bg);
    color:white;
    width: 100%;
}

#logOut-btn{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
#logOut-btn:hover{
    background-color: white;
    color:black;
}